<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{!-- {{>navbar}} --}} 
    {{!-- abhi maine navbar add nai kiya esme --}}
    {{!-- <h1>Hello everyone for a break</h1>
    <a href="/register"> Feed ur data for registration</a> --}}

     <!-- Header -->
    <header class="navbar">
        <div class="logo">
            <img src="logo.png" alt="Your Logo">
        </div>
        <nav class="menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="register">Registration</a></li>
                <li><a href="login">Login</a></li>
            </ul>
        </nav>
    </header>

    <!-- Middle Part -->
<section class="middle">
    <img src="moto.jpg" alt="Our Motto">
    <div class="content-row">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet purus sed urna vehicula pharetra.
            Integer dapibus vitae neque ut vestibulum. Fusce sit amet hendrerit sapien. Nullam accumsan tincidunt nunc,
            non elementum ligula tincidunt in. Curabitur lacinia vestibulum libero, sit amet tincidunt metus fermentum nec.
            Proin eleifend erat eget libero convallis aliquet.
        </p>
    </div>
    <div class="content-row">
        <p>
            Sed tristique scelerisque felis, nec interdum elit. Aenean eu purus nec lectus semper mattis.
            Duis efficitur nisl id sem feugiat fringilla. Vestibulum a massa vitae urna facilisis vestibulum.
            Aliquam id facilisis velit, vel dictum odio.
        </p>
    </div>
    <div class="content-row">
        <p>
            In nec turpis non elit sagittis vestibulum id in tortor. Sed bibendum viverra mauris ac mattis.
            Nullam eget risus sit amet erat bibendum vehicula. Aenean quis malesuada metus, sit amet lacinia lorem.
        </p>
    </div>
</section>


    <!-- Footer -->
    <footer class="footer">
        <div class="social-media">
            <a href="https://www.facebook.com/profile.php?id=100066824648686"><img src="/img/facebook.svg" alt="Facebook"></a>
            <a href="https://twitter.com/VIVEKGU59498848"><img src="/img/twitter.svg" alt="Twitter"></a>
            <a href="https://www.instagram.com/vivekgupta8280"><img src="/img/instagram.svg" alt="Instagram"></a>
        </div>
        <div class="contact-info">
            <p>Phone: +1-123-456-7890</p>
            <p>Email: contact@example.com</p>
        </div>
        <p class="rights">All Rights Reserved by Vivek Gupta</p>
    </footer>

</body>
</html>