<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"> <!-- Link to your CSS file -->
    <title>Your Landing Page</title>
</head>
<body>
    <!-- Header -->
    <header class="navbar">
        <div class="logo">
            <img src="logo.png" alt="Your Logo">
        </div>
        <nav class="menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="/auth_backend/templates/views/register.hbs">Registration</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>

    <!-- Middle Part -->
    <section class="middle">
        <img src="moto.jpg" alt="Our Motto">
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="social-media">
            <a href="https://www.facebook.com/profile.php?id=100066824648686"><img src="/css/img/facebook.svg" alt="Facebook"></a>
            <a href="https://twitter.com/VIVEKGU59498848"><img src="/css/img/twitter.svg" alt="Twitter"></a>
            <a href="www.instagram.com/vivekgupta8280"><img src="/auth_backend/public/img/instagram.svg" alt="Instagram"></a>
        </div>
        <div class="contact-info">
            <p>Phone: +1-123-456-7890</p>
            <p>Email: contact@example.com</p>
        </div>
        <p class="rights">All Rights Reserved by Vivek Gupta</p>
    </footer>
</body>
</html>
